@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Source+Sans+Pro');

* {margin:0; padding: 0;}

/*==========Formatting===============*/
h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 54px;
    text-align: left;
}

h2, h3, p {
    font-size: 20px;
    font-family: monospace;
    font-weight: 200;
    color: #333333;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0 10px;
    transition: all 0.3s;
}

.bus h2:hover {
    color: #7755d3;
    cursor: pointer;
    transform: scale(1.1);
    padding: 0 30px;
}

.bus h3 {
    color: #525252;
    font-size: 15px;
    margin-top: 20px;
    padding-left: 60px;
}

/*==========Layout===============*/

body {
    height: 100vh;
    width: 100vw;
    text-align:center;
}

header, footer {width: 90%; height: 10%; margin-left: 10%}

aside {
    width: 30%;
}

main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.container {
    display:flex;
    height: 80%;
    margin: 0 10%
}

.bus {
    margin: 5px 0;
    display:flex;
}

li {
    list-style-type: none;
    transition: all 0.3s;
    line-height: 0.3
}

.bus li:hover {
    color: #02db88;
    cursor: pointer;
    transform: scale(1.1);
    padding: 0 20px;
}

.bus {
    display:flex;
    flex-direction: column;
    text-align: left
}

#map img {
    width: 80%;
}

